---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">For a full list of our publications, please refer to <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Selected Publications
------
<img align="left" width="300" src="/images/TIP.png" style="margin-right: 15px" /> 

**TIP: Tabular-Image Pre-training for Multimodal Classification with Incomplete Data**\
Siyi Du, Shaoming Zheng, Yinsong Wang, Wenjia Bai, Declan O'Regan, **Chen Qin**\
The 18th European Conference on Computer Vision (ECCV), 2024. \[[code](https://github.com/siyi-wind/TIP)\]<br />
<br />



